:root {
  --main-col: hsl(218, 100%, 98%);
}

body {
  margin: 1vh;
  padding: 0%;
}

.title-container {
  position: absolute;
  top: 10vh;
  /* background-color: white; */
  width: fit-content;
  padding: 0%;
  margin: 0%;
}

#title {
  margin-left: 6px;
  margin-right: 6px;
}

.container {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.social-link {
  text-decoration: none;
  margin: 0rem 0.3rem;
}

.social-icon {
  color: #000000;
  font-size: 1.5rem;
}

.stuff {
  list-style-type: none;
  padding: 10px 0 50px;
  margin: 0;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-auto-rows: min-content;
  column-gap: 25px;
  row-gap: 25px;
}

.project {
  display: list-item;
  position: relative;
  width: 200px;
  height: 200px;
}

.project-link {
  text-decoration: none;
  color: #000000;
}

.project-link:hover {
  color: inherit;
}

.project-title {
  position: absolute;
  right: 0%;
  bottom: 0%;
  white-space: nowrap;
  margin: 5px;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #ffffff;
}

.footer {
  text-align: center;
}

.footer-text {
  margin-bottom: 0px;
}

#fibonacci {
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: none;
  position: absolute;
}

#exit-icon {
  position: absolute;
  width: 100%;
}

#icon {
  float: right;
  padding: 0.25em;
  color: #bb0000;
  border-radius: 50%;
  transition: transform 0.7s ease-in-out;
  cursor: pointer;
}

#icon:hover {
  transform: rotate(360deg);
}

@keyframes fade-fibonacci {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
