:root {
  --main-col: hsl(218, 100%, 98%);
}

body {
  /* background-image: url(./me.png);
  background-repeat: no-repeat;
  background-size: 100%; */
  background-color: var(--main-col);

  margin: 0%;
  padding: 0%;
}

.nav {
  position: sticky;
  top: 0%;
}

.nav-item {
  display: inline;
}

.nav-item:hover {
  background-color: blue;
}

.nav-links {
  float: right;
}

.nav-link {
  text-decoration: none;
  color: black;
  margin: 20px;
}

.title-container {
  position: absolute;
  top: 10vh;
  /* background-color: white; */
  width: fit-content;
  padding: 0%;
  margin: 0%;
}

#title {
  margin-left: 6px;
  margin-right: 6px;
}

.footer {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
  text-align: center;
}
