<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <h5 class="card-header">
        [Movie Title]
        <span class="text-warning">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
        </span>
      </h5>
      <div class="row card-body">
        <img src="[poster]" alt="" class="col-sm-4" />
        <div class="col-sm-8">
          <h6 class="card-text">Directed by [Director]</h6>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium
            ratione autem sunt natus ipsum adipisci delectus nobis velit a odit,
            culpa assumenda eaque magnam laboriosam cupiditate dignissimos
            recusandae facilis architecto quae est ex doloremque odio?
            Repellendus, blanditiis debitis nemo iusto placeat qui voluptas
            dolor soluta quod corrupti exercitationem neque harum tempore?
            Voluptate, excepturi iure tenetur dignissimos quasi libero nisi
            temporibus accusamus officiis, sequi perspiciatis? Voluptatum, rem
            quae tempora aliquid ex autem nam. Explicabo aliquam reprehenderit
            quibusdam ratione a nisi atque provident culpa! Fugit suscipit, hic,
            veritatis porro voluptates laboriosam dolor amet natus non quae
            cupiditate qui deserunt ipsum iste repellat!
          </p>
          <a href="[iMDB link]" class="btn btn-warning">View iMDB</a>
        </div>
      </div>
    </div>
  </div>
</div>
